%section
	.container
		.row
			.col-sm-3
			.col-sm-6
				.page-header.no-margin-top
					%h3.no-margin-bottom
						Edit comment
				= form_for([@liquor, @comment]) do |f|
					.form-group
						= f.text_area :body, :rows => "5", :class=>"form-control"
						%br
						= submit_tag("Update Comment", :class=>"btn btn-primary")
			.col-sm-3