%section
	.container
		.row
			.col-lg-12
				.panel
					.panel-body
						.page-header.no-margin-top
							%h4.no-margin-bottom
								Results for 
								%span.extra-bold-font-name.primary-text-color
									=@search
						-@liquors.each do |l|
							.margin-bottom
								=render partial: '/liquors/liquor_thumb_medium', locals:{:liquor => l}