.row
	.col-sm-6
		.media-object
			.pull-left
				=link_to user do
					= image_tag user.avatar.url(:thumb), :class=>"half-margin-right img-circle"
			.media-body
				%h4.quarter-margin-bottom
					=link_to user do
						=user.first_name
						=user.last_name
				%p
					%small
						Proud member since 
						=user.created_at.strftime('%B %e, %Y')
				%p
					%small
						%i.fa.fa-glass	
						%strong
							Favorite scotch:
						=user.favorite_scotch
	.col-sm-6
		.pull-left
			=render :partial =>"shared/stats" , :locals => {:user => user}