/ %h3 Users
/ %ul.users
/ 	- @users.each do |user|
/ 		%li
/ 			= link_to user.email, user
/ 			signed up #{user.created_at.to_date}
/ 		%li
/ 			= user.admin

%section
	.container
		.col-lg-12
			- @users.each do |user|
				=render :partial => "user_info", :locals => {:user => user}
				.clearfix
				%hr
