-case item
	-when 0
		.rating_small
	-when 1..1.999
		.rating_small.r1
	-when 2..2.999
		.rating_small.r2
	-when 3..3.999
		.rating_small.r3
	-when 4..4.999
		.rating_small.r4
	-when 5..5.999
		.rating_small.r5
	-when 6..6.999
		.rating_small.r6
	-when 7..7.999
		.rating_small.r7
	-when 8..8.999
		.rating_small.r8
	-when 9..9.999
		.rating_small.r9
	-when 10..10.999
		.rating_small.r10
