%p.micro-text
	= link_to 'View', (check_in)
	|
	%a{:href=>"#{check_in_path(check_in)}#comment-form"}
		Comment
	-if current_user.id == check_in.user_id
		|
		= link_to 'Delete Check-In', (check_in),:confirm => 'Are you sure?', :method => :delete