.clearfix
	%p.micro-text.no-marigin-bottom
		= link_to  (check_in), :class=>"pull-left" do
			View More
		-if current_user.id == check_in.user_id
			= link_to (check_in), :class=>"pull-right", :confirm => 'Are you sure?', :method => :delete do
				Delete