- total_score = (check_in.nose_rating+check_in.taste_rating+check_in.finish_rating+check_in.rating)

.panel.check-in-post
	.panel-body
		.media-object
			.pull-left
				=image_tag check_in.user.avatar.url(:xs), :class=>"img-circle half-margin-right", :style=>"width:40px;"
			.media-body
				%p.no-margin-bottom{:style=>"line-height:12pt; margin-top:3px;"}
					%strong
						=check_in.user.first_name
						=check_in.user.last_name
				%p.text-muted
					%small
						=time_ago_in_words(check_in.updated_at)
						ago
		%p.text-muted
			=check_in.body
		-if !(check_in.check_in_photo.content_type =~ /^image/).nil?
			=image_tag (check_in.check_in_photo.url)
		//item
		%h5.page-header.half-margin-bottom
			%span.pull-left
				Nose
			%span.pull-right
				%span.primary-text-color
					=check_in.nose_rating
				\/25
			.clearfix
		%p.text-muted
			= check_in.nose_list
		//item
		%h5.page-header.half-margin-bottom
			%span.pull-left
				Taste
			%span.pull-right
				%span.primary-text-color
					=check_in.taste_rating
				\/25
			.clearfix
		%p.text-muted
			= check_in.taste_list
		//item
		%h5.page-header.half-margin-bottom
			%span.pull-left
				Finish
			%span.pull-right
				%span.primary-text-color
					=check_in.finish_rating
				\/25
			.clearfix
		%p.text-muted
			= check_in.finish_list
		//item
		%h5.page-header.half-margin-bottom
			%span.pull-left
				Balance
			%span.pull-right
				%span.primary-text-color
					=check_in.rating
				\/25
			.clearfix
		//item
		%h5.page-header.half-margin-bottom
			%span.pull-left
				Total Score
			%span.pull-right
				%span.primary-text-color
					=total_score
				\/100
			.clearfix


		=render partial: 'check_ins/check_in_actions', locals:{:check_in => check_in}