.row
	.col-xs-10
		.media-object
			.pull-left
				=image_tag check_in.user.avatar.url(:xs), :class=>"img-circle half-margin-right"
			.media-body
				%p
					=link_to check_in.user do
						=check_in.user.first_name
						=check_in.user.last_name
					is enjoying a
					=link_to check_in.liquor do
						=check_in.liquor.name
				.margin-top.margin-bottom
					.comment-bub-triangle
						&nbsp;
					.well.comment.half-margin-bottom
						-if check_in.body != ""
							%p
								=check_in.body
						=render partial: 'shared/rating_small', locals:{:item => check_in.rating}

					%p.text-muted.micro-text
						=time_ago_in_words(check_in.updated_at)
						ago
					- if current_user.present?
						=render partial: 'check_ins/check_in_actions', locals:{:check_in => check_in}
				.margin-bottom
					-if check_in.comment_threads.count > 0
						.well
							= render :partial => 'comments/comment', :collection => check_in.comment_threads.last(3), :as => :comment


		
	.col-xs-2
		=image_tag check_in.liquor.liquor_image.url(:thumb)