%section
	.container
		.row
			.col-sm-3
			.col-sm-6
				.panel
					.panel-body
						=render partial: 'check_ins/detail', locals:{:check_in => @check_in}
				/ .panel
				/ 	.panel-body
				/ 		.page-header.no-margin-top
				/ 			%h4.no-margin-bottom
				/ 				Comments
				/ 		= render :partial => 'comments/comment', :collection => @comments, :as => :comment
				/ 		= render :partial => 'comments/form', :locals => { :comment => @new_comment }
			.col-sm-3