%section
	.container
		.row
			.col-lg-3
			.col-lg-6
				.panel
					.panel-body
						.padded
							=render partial: 'check_ins/post', locals:{:check_in => @check_in}
				.panel
					.panel-body
						.padded
							= render :partial => 'comments/form', :locals => { :comment => @new_comment }
							= render :partial => 'comments/comment', :collection => @comments, :as => :comment
			.col-lg-3