%section.half-padding-top
	.container
		-if current_user
			.row
				.col-lg-12
					=link_to liquors_path, :class=>"btn btn-block btn-primary btn-new-taste" do
						+ New Taste
					%h5.page-header
						Scotches I've Tried
					-@user_liquors.each do |l|
						=render partial: 'liquors/liquor_thumb_medium', locals:{:liquor => l}
			.row
				.col-lg-12
					%h5.page-header
						My Recent Notes
					-@check_ins.each do |c|
						=render partial: 'check_ins/post', locals:{:check_in => c, :avatar=> c.liquor.liquor_image.url(:xs), :name => c.liquor.name , :timestamp => c.updated_at}
						

