.row
	.col-lg-12
		.media-object
			.pull-left.margin-right
				=image_tag liquor.liquor_image.url(:thumb), :class=>"img-responsive full-width thumbnail"
			.media-body
				%h4.medium-font-name
					=link_to liquor do 
						=liquor.name
				%p
					=liquor.description
.row.border-top.border-bottom
	.col-sm-5
		.border-right.display-block
			-if liquor.check_ins.count > 0
				%p
					=render partial: 'shared/rating_small', locals:{:item => liquor.average_rating}
			-else
				%p.half-margin-top.text-muted
					No rating to show
	.col-sm-3
		.border-right.display-block
			%p.half-margin-top.text-muted
				=liquor.check_ins.count 
				ratings
	.col-sm-4
		%p.half-margin-top.text-muted
			Added
			=liquor.created_at.strftime("%m/%d/%y")

