.panel.half-padding.no-padding-top.no-padding-bottom
	.panel-body.no-padding
		.row.liquor-cell
			.col-lg-12
				.media-object
					.pull-left.half-margin-right
						=image_tag liquor.liquor_image.url(:thumb), :class=>"img-responsive", :style=>"width:80px;"
					.media-body
						%h2.light-font-name.quarter-margin-bottom
							=link_to liquor do 
								=liquor.name
						%p.text-muted
							%strong
								=liquor.age
							Year
