%section
	.container
		.row
			.col-lg-12
				.panel
					.panel-body
						.padded
							.page-header.no-margin-top
								%h3.no-margin-bottom
									Top Rated
							-@liquors.each do |l|
								=render partial: 'liquor_thumb_medium', locals:{:liquor => l}
								%hr