%section
	.container
		.row
			.col-lg-12
				.panel
					.panel-body
						.page-header.no-margin-top
							%h4.no-margin-bottom
								Scotch List
						-@liquors.each do |l|
							.margin-bottom
								=render partial: 'liquor_thumb_medium', locals:{:liquor => l}