%section#liquor-header{:style=>"background:white url(#{@liquor.liquor_image.url(:medium)})center no-repeat; background-position-y:30px;"}
	.double-padding-top.double-padding-bottom
	.padding-top.padding-bottom
%section.no-padding-bottom
	.container
		.row
			.col-sm-3
			.col-sm-6
				.text-center
					%a.btn.btn-primary.new-check-in-btn{"data-toggle"=>"modal", :href=>"#checkInModal", :rel=>"tooltip", "data-original-title"=>"Check-in with this scotch", "data-placement"=>"bottom"}
						+
					%h2.light-font-name.primary-text-color.no-margin-bottom
						=@liquor.name
					%p.text-muted
						%span.extra-bold-font-name
							=@liquor.age
						Year
					%p
						=@liquor.description
					%p.no-margin-bottom
						=link_to @liquor.distill,{:class=>"secondary-link"} do 
							by 
							=@liquor.distill.name
			
				-if current_user.admin
					.margin-top
						=render partial: 'show_actions', locals:{:liquor => @liquor}
			.col-sm-3
%section.no-padding-top
	.container
		.row
			.col-sm-3
			.col-sm-6
				.row
					.col-lg-12
						%h5.page-header
							+ My Notes With This Scotch
				.row
					.col-sm-12
						-if @current_user_check_ins.count > 0
							-@current_user_check_ins.each do |c|
								=render partial: 'check_ins/post', locals:{:check_in => c, :avatar=> c.user.avatar.url(:xs), :name => c.user.first_name + (" ") + c.user.last_name , :timestamp => c.updated_at}
						-else
							%p.text-muted.text-center
								No check ins with this liquor
			.col-sm-3

#checkInModal.modal{"aria-hidden" => "true", role: "dialog"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4.no-margin-bottom.modal-title.light-font-name
					Check-In
			.modal-body
				=render partial: 'check_ins/check_in_form'
