%section
	.container
		.row
			.col-sm-12
				.row
					.col-sm-9
						.panel.margin-bottom
							.panel-body
								.padded
									.margin-bottom
										=render partial: 'liquor_thumb_medium', locals:{:liquor => @liquor}
									%a.btn.btn-primary{"data-toggle"=>"modal", :href=>"#checkInModal"}
										%i.fa.fa-check
										Check in 
					.col-sm-3
						.margin-bottom
							=render partial: 'show_actions', locals:{:liquor => @liquor}
				.row
					.col-sm-9
						.panel
							.panel-body
								.padded
									.page-header.no-margin-top
										%p.no-margin-bottom
											%strong
												Global Recent Activity
									-@liquor.check_ins.each do |c|
										=render partial: 'check_ins/post', locals:{:check_in => c}
										%hr

					.col-sm-3

#checkInModal.modal.fade{"aria-hidden" => "true", role: "dialog"}
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4.no-margin-bottom.modal-title 
					Check-In
			.modal-body
				=render partial: 'check_ins/check_in_form'
